<html lang="en"><head>
    <title>helperhub |  About helperhub</title>        
    <meta name="description" content="">
<meta name="keywords" content="">
<meta charset="utf-8">
<meta name="author" content="Harry Boo">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Favicons -->
<link rel="shortcut icon" href="static/img/favicon.png">
<!--<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">-->

<!-- Load Core CSS 
=====================================-->
<link rel="stylesheet" href="static/css/core/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="static/css/core/animate.min.css">

<!-- Load Main CSS 
=====================================-->
<link rel="stylesheet" href="static/css/main/main.css">
<link rel="stylesheet" href="static/css/main/setting.css">
<link rel="stylesheet" href="static/css/main/hover.css">
<link rel="stylesheet" href="static/css/main/cover.css">

<!-- Load Magnific Popup CSS 
=====================================-->
<link rel="stylesheet" href="static/css/magnific/magic.min.css">        
<link rel="stylesheet" href="static/css/magnific/magnific-popup.css">              
<link rel="stylesheet" href="static/css/magnific/magnific-popup-zoom-gallery.css">

<!-- Load OWL Carousel CSS 
=====================================-->
<link rel="stylesheet" href="static/css/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="static/css/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="static/css/owl-carousel/owl.transitions.css">

<!-- Load Color CSS - Please uncomment to apply the color.
=====================================      
<link rel="stylesheet" href="static/css/color/blue.css">
<link rel="stylesheet" href="static/css/color/brown.css">
<link rel="stylesheet" href="static/css/color/cyan.css">
<link rel="stylesheet" href="static/css/color/dark.css">
<link rel="stylesheet" href="static/css/color/green.css">
<link rel="stylesheet" href="static/css/color/orange.css">
<link rel="stylesheet" href="static/css/color/purple.css">
<link rel="stylesheet" href="static/css/color/pink.css">
<link rel="stylesheet" href="static/css/color/red.css">
<link rel="stylesheet" href="static/css/color/yellow.css">-->
<link rel="stylesheet" href="static/css/color/pasific.css">

<!-- Load Fontbase Icons - Please Uncomment to use linea icons
=====================================       
<link rel="stylesheet" href="static/css/icon/linea-arrows-10.css">
<link rel="stylesheet" href="static/css/icon/linea-basic-10.css">
<link rel="stylesheet" href="static/css/icon/linea-basic-elaboration-10.css">
<link rel="stylesheet" href="static/css/icon/linea-ecommerce-10.css">
<link rel="stylesheet" href="static/css/icon/linea-music-10.css">
<link rel="stylesheet" href="static/css/icon/linea-software-10.css">
<link rel="stylesheet" href="static/css/icon/linea-weather-10.css">--> 
<link rel="stylesheet" href="static/css/icon/font-awesome.css">
<link rel="stylesheet" href="static/css/icon/et-line-font.css">
<link rel="stylesheet" href="custom-file.css">
<link rel="stylesheet" href="../icomoon/style.css">
<link rel="stylesheet" href="icomoon/style.css">
<style>
.icon-salary-advices {
    font-family: 'icomoon' !important;
}
.icon-salary-advices::before {
    content: "\e900" !important;
    font-size: 30px;
}
.icon-references::before {
    content: "\e903" !important;
    font-size: 30px;
}
.icon-statements::before {
    content: "\e901" !important;
    font-size: 30px;
}        
.icon-notices::before {
    content: "\e902" !important;
    font-size: 30px;                
}
.icon-documents::before {
    content: "\e904" !important;
    font-size: 30px;                
}
.icon-communications::before {
    content: "\e905" !important;
    font-size: 30px;                
}
.fa-warning, .fa-remove {
    font-size: 30px;
}
textarea.form-control { 
    min-height: 120px !important;
}
.fa-user-times, .fa-building, .fa-user, .fa-group {
    font-size: 30px;
}    
</style>
<!-- Load JS
HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file://
=====================================-->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        table {
            margin-bottom: 25px;
        }
        table td {
            padding: 25px;
        }
        .img-center {
            text-align: center !important;
        }
        .list {
            list-style: inside;
        }
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">
    
    <!-- Page Loader
    ===================================== -->
    <div id="pageloader" class="bg-grad-animation-1" style="display: none;">
        <div class="loader-item" style="display: none;">
            <img src="static/img/other/oval.svg" alt="page loader">
        </div>
    </div>
    
    <a href="#page-top" class="go-to-top" style="display: none;">
        <i class="fa fa-long-arrow-up"></i>
    </a>
    
    <!-- Navigation Area
    ===================================== -->
    <nav class="navbar navbar-pasific navbar-mp navbar-standart megamenu navbar-fixed-top top-nav-collapse">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/">
            <img style="width: 200px" src="static/img/logo/logo.png" alt="logo">
        </a>
    </div>

    <div class="navbar-collapse collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
            <li class=""><a href="/" class="color-light">Home </a>
            </li><li class=""><a href="/about" class="color-light">About </a>
            </li><li class=""><a href="/get-in-touch" class="color-light">Get In Touch </a>
                             
             
            
              
              
                            </li><li class="#"><a href="tel:+917457902290" class="color-light"><i style="color: #1EB584" class="fa  fa-mobile-phone"></i> <strong>+91 74579 02290</strong></a>
                <!--<a href="tel:+1-303-499-7111">+1 (303) 499-7111</a>-->

        </li></ul>
    </div>
</div>
</nav>        
    
    <!-- Search Modal Dialog Box
    ===================================== -->
    <div id="searchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-gray">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                </div>
                <div class="modal-body">                        
                    <form action="#" class="inline-form">
                        <input type="text" class="modal-search-input" autofocus="">
                    </form>
                </div>
                <div class="modal-footer bg-gray">
                    <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                </div>
            </div>

        </div>
    </div>        
    
            <!-- Subheader Area
    ===================================== -->
    <header class="bg-primary mt60">
        <div class="container">
            <div class="row mt20 mb30 ml10">
                <div class="col-md-6 text-left">
                    <h3 class="font-montserrat color-light text-uppercase">About Us<small class="color-light alpha7">About helperhub</small></h3>
                </div>
                <div class="col-md-6 text-right pt35">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
    <div id="about2" class="pt50 pb50">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-left">
                    <h4 class="">
                        Who we are?
                        <small class="heading heading-solid center-block1"></small>
                    </h4>
                    <strong>A digital technology brand born to empower and uplift people and businesses</strong>
                    <p>
                        helper<strong>hub</strong> (Pty) Ltd was founded in 2019, inspired by the vision to empower employers within domestic households and SMME's through tools that offer ease, efficiency and control - enhancing 
                        the relationships with the people they employ and the clients they serve.
                    </p>
                    <p>helper<strong>hub</strong> is an authorised Discretionary Financial Services Provider ("FSP") and regulated by the Financial Services Conduct Authority. Our Tax Administration is conducted by 
                        registered Tax Practitioners, regulated by the South African Revenue Service.
                    </p>
                
                </div>
                
                <div class="col-md-6 pb50">
                    <h4 class="">
                        Our Vision
                        <small class="heading heading-solid center-block1"></small>
                    </h4>
                    <p>
                        To be a leader in digital technologies that enhance society, empower people and contribute to the economy.
                    </p>
                </div>
                <div class="col-md-6 pb50">
                    <h4>
                        Our Mission
                        <small class="heading heading-solid center-block1"></small>
                    </h4>
                    <p>
                        To harness innovative thinking in designing digital ecosystems that add value to our clients and partners. To provide access to products and services that improve the way the world lives and works.

                    </p>
                </div>
                
                
                <div class="col-md-12 pb50">
                    <h4>
                       Why helper<strong>hub</strong>?
                        <small class="heading heading-solid"></small>
                    </h4>                        
                    <h5>
                       Enhance your employee relationships. 
                    </h5>
                    <p>
                        We enable ease, convenience, control in your employment relationships while providing you with access to affordable pre-selected financial products to enrich and enhance your employees' financial security and ultimately, quality of life.
                    </p>
                    <p>
                        helper<b>hub</b> enables certainty and transparency by improving communication between employers and employees. Managing your tax obligations is extremely important to avoid costly fines, penalties 
                        and /or interest being levied. Our services include a limited regulatory filing service to assist you to remain up-to-date with this aspect in your employment relationship.

                    </p>
                    
                    <h5>
                       Enhance your client relationships. 
                    </h5>
                    <p>
                        Client relationships are equally important as employee relationships. helper<b>hub's</b> client management portal provides solutions to some key requirements in your business, i.e. communications, invoicing, statements, etc.
                    </p>
                </div>
                
                <div class="col-md-12 pb50 img-center">
                    <img src="about-image.jpg">
                </div>
                
                
                <div class="col-md-12 pb50">
                    <h4>
                        What is helper<strong>hub</strong>?
                        <small class="heading heading-solid"></small>
                    </h4>
                    <p>
                        helper<strong>hub</strong> is cloud-based platform that incorporates a multitude of functions as a unified, integrated, intuitive digital ecosystem. helper<b>hub</b> 
                        enables effortless management of your employment relationships, selected tax obligations and client relationships.<br>
                        <strong>Our core principles: </strong>                            
                    </p>
                    <ul class="list">
                        <li>Simplicity</li>
                        <li>Control</li>
                        <li>Ease</li>
                        <li>Convenience</li>
                    </ul>
                    
                    <h4>
                        What does helper<strong>hub</strong> do?
                        <small class="heading heading-solid"></small>
                    </h4>
                    <p>helper<strong>hub</strong> is an integrated platform and financial services provider that enables you to manage the following seamlessly and easily:</p>
                    <ul class="list">
                        <li>Your employment relationships (both employer and employee).</li>
                        <li>Your client relationships.</li>
                        <li>Vital employee tax filing obligations (note that this is a limited service and is not intended to be a fully-fledged tax filing and/or accounting service).</li>
                    </ul>
                    
                </div>
                
                <div class="col-md-12 pb50">
                    <h4>
                       Benefits &amp; Features
                        <small class="heading heading-solid center-block1"></small>
                    </h4>
                    
                    <p>If you are an <strong>Employer</strong></p>
                    
                    <table border="1" width="90%">
                        <tbody><tr>
                            <td>
                                <strong>Human Resources</strong>
                            </td>
                            <td>
                                <ul>
                                    <li>Payroll
                                            <ul style="position: relative; left: 15px">
                                                <li>Salary Advices</li>
                                                <li>Regulatory Reporting
                                                    <ul style="position: relative; left: 15px">
                                                        <li>UIF 201 Report</li>
                                                        <li>UIF 501 Report</li>
                                                        <li>Semi Annual SARS Flat File</li>
                                                        <li>Annual SARS Flat File</li>
                                                        <li>IRP / IT 3A Employee Certificates</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                    </li><li>Annual Leave Management </li>
                                    <li>Communications</li>
                                    <li>Notices</li>
                                    <li>Warnings</li>
                                    <li>Terminations</li>
                                    <li>References</li>
                                    <li>Multiple Employer Relationship Collaboration capability.</li>
                                    <li>Search Functionality - Employees / Volunteers / Service Providers</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Payments Administration</li>
                                    <li>Consolidated Reporting</li>
                                    <li>Integrated Tax Calculation</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                <strong>Employee Benefits</strong>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        Access to Pre-Selected Financial Products
                                        <ul style="position: relative; left: 15px">
                                            <li>Risk Products</li>
                                            <li>Medical Products</li>
                                            <li>Retirement Savings</li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><strong>Select Tax Filing Services</strong></td>
                            <td>
                                <ul>
                                    <li>UIF Filings</li>
                                    <li>SDL Filings</li>
                                    <li>PAYE Filing</li>
                                </ul>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody></table>
                    
                    
                    
                    <p>If you are an <strong>Employee</strong></p>
                    
                    <table border="1" width="90%">
                        <tbody><tr>
                            <td>
                                <strong>Human Resources</strong>
                            </td>
                            <td>
                                <ul>
                                    <li>Payroll
                                            <ul style="position: relative; left: 15px">
                                                <li>Salary Advices</li>
                                                <li>IRP 5 / IT 3A Employee Certificates</li>
                                            </ul>
                                    </li><li>Annual Leave Management </li>
                                    <li>Communications</li>
                                    <li>Notices</li>
                                    <li>Warnings</li>
                                    <li>Terminations</li>
                                    <li>References</li>
                                    <li>Multiple Employer Relationship Collaboration capability.</li>
                                    <li>Search Functionality - Employees / Volunteers / Service Providers</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Payments Administration</li>
                                    <li>Integrated Tax Calculation</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td> 
                                <strong>Employee Benefits</strong>
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        Access to Pre-Selected Financial Products
                                        <ul style="position: relative; left: 15px">
                                            <li>Risk Products</li>
                                            <li>Medical Products</li>
                                            <li>Retirement Savings</li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><strong>Select Tax Filing Services</strong></td>
                            <td>
                                <ul>
                                    <li>UIF Filings</li>
                                    <li>SDL Filings</li>
                                    <li>PAYE Filing</li>
                                </ul>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody></table>
                    
                    <p>If you are a <strong>Volunteer</strong></p>
                    <table border="1" width="90%">
                        <tbody><tr>
                            <td>
                                <strong>Eligibility / Marketable</strong>
                            </td>
                            <td>
                                <ul style="position: relative; left: 15px">
                                    <li>Gain experience </li>
                                    <li>Increase Marketability / Eligibility</li>
                                    <li>
                                        Evidence
                                        <ul style="position: relative; left: 15px">
                                            <li>Communications</li>
                                            <li>Notices</li>
                                            <li>Warnings</li>
                                            <li>Terminations</li>
                                            <li>References</li>
                                        </ul>
                                    </li>
                                    <li>Multiple Employee Relationship Collaboration capability</li>
                                    <li>Search Functionality - Employer</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody></table>
                    
                    <p>If you are a <strong>Service Provider</strong></p>
                    <table border="1" width="90%">
                        <tbody><tr>
                            <td>
                                <strong>Client Management</strong>
                            </td>
                            <td>
                                <ul style="position: relative; left: 15px">
                                    <li>Client Invoicing</li>
                                    <li>Client Statements</li>
                                    <li>Client Communications (Bulk and Individual)</li>
                                    <li>Client Payment Administration - Instant Pay</li>
                                    <li>Client References</li>
                                    <li>Record keeping</li>
                                    <li>Search Functionality - Service Recipients</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody></table> 
                    
                    <p>If you are a <strong>Service Recipient (Client)</strong></p>
                    <table border="1" width="90%">
                        <tbody><tr>
                            <td>
                                <strong>Service Provider Management</strong>
                            </td>
                            <td>
                                <ul style="position: relative; left: 15px">
                                    <li>Service Provider Payment Administration - Instant Pay</li>
                                    <li>Other Client References </li>
                                    <li>Record keeping
                                        <ul style="position: relative; left: 15px">
                                            <li>Client Invoicing</li>
                                            <li>Client Statements</li>
                                            <li>Client Communications (Bulk and Individual)</li>
                                            <li>Service Provider Communications</li>
                                        </ul>
                                    </li>
                                    <li>Search Functionality - Service Recipients</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody></table>                           
                    
                </div>
            </div>
        </div>
    </div>  

    <!-- Footer Area
    =====================================-->
    <div id="footer" class="footer-two bg-dark3 pt50">
        <div class="container-fluid">
            <div class="container pb35">
                <div class="row">
                    
                    <!-- footer about start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Menu</h6>
                        <ul class="no-icon-list">
                            <li><a href="/" class="color-light alpha7">Home</a></li>
                            <li><a href="/about" class="color-light alpha7">About Us</a></li>
                            <li><a href="/get-in-touch" class="color-light alpha7">Get In Touch</a></li>
                        </ul>
                    </div>
                    <!-- footer about end -->
                    
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Legal and Policy</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-PAIA-Policy.pdf" class="color-light alpha7">PAIA Manual</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Conflict-of-Interest-Policy.pdf" class="color-light alpha7">COI Policy</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Terms-and-Conditions.pdf" class="color-light alpha7">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    
                    <!-- footer menu one start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Pricing</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Fee-Disclosure-Document.pdf" class="color-light alpha7">Our Fees</a></li>
                            <!--<li><a href="#" class="color-light alpha7">Payments</a></li>-->
                        </ul>
                    </div>
                    <!-- footer menu one end -->
                    
                    <!-- footer menu two start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">How To</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/Helperhub-How-to-Register.pdf" class="color-light alpha7">Registration Guide</a></li>
                            <li><a target="_blank" href="pdf-docs/How-to-Enroll-Your-Employee.pdf" class="color-light alpha7">Load Employee</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-Domestic-Households.pdf" class="color-light alpha7">Domestic Households Aid</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-SMME.pdf" class="color-light alpha7">SMME Aid</a></li>
                        </ul>
                    </div>
                    <!-- footer menu two end -->
                    
                    <!-- footer menu three start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Important Info</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Important-Information.pdf" class="color-light alpha7">Important Information</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Specimen-Mandate.pdf" class="color-light alpha7">FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Non-FAIS-Discretionary-Mandate.pdf" class="color-light alpha7">Non-FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-FAQs.pdf" class="color-light alpha7">FAQs</a></li>
                        </ul>
                    </div>
                    <!-- footer menu three end -->
                    
                    <!-- footer social icons start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Articles</h6>
                        <ul class="no-icon-list" style="margin-bottom: 20px">
                            <li><a target="_blank" href="pdf-docs/Covid-19-Uncovered.pdf" class="color-light alpha7">Covid 19 Uncovered</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Article-Covid-19-Exposed.pdf" class="color-light alpha7">Covid 19 Exposed</a></li>
                        </ul>
                        
                        <div class="social social-three">
                            <a target="_blank" href="https://www.facebook.com/helperhubSA"><i class="fa fa-facebook color-primary"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/organization-guest/company/helperhub?challengeId=AQEFUPnGSwVWPwAAAXTZc3Btvl2rY_l7mdlt_jrhEAfyWGi2RcC4j5rdWirEYKu3nYdrnO_k8rQ0jwxXPRIx9QrZS7OMLbk63w&amp;submissionId=23ab55a3-093b-3916-121b-1078acf7b703"><i class="fa fa-linkedin color-blue"></i></a><br><br>
                        </div>
                    </div>
                    <!-- footer social icons end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
        
        <div class="container-fluid bg-dark4 pt20">
            <div class="container">
                <div class="row">

                    <!-- copyright start -->
                    <div class="col-md-4">
                        <p style="color: #fff">©2019 <a href="/">helperhub</a>. All rights reserved.</p>
                    </div>
                    <!-- copyright end -->
                    <div class="col-md-4">
                        <p style="color: #fff">helper<strong>hub</strong> is an authorised financial services provider.</p>
                    </div>

                    <!-- footer bottom start -->
                    <div class="col-md-4">
                        <p class="text-right">
                            <a style="color: #fff !important" target="_blank" href="https://www.theformula.co.za">Designed &amp; Developed by The Formula</a>
                        </p>
                    </div>
                    <!-- footer bottom end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
    </div><!-- footer end -->
    
   <style>
        .bb-solid-1 li a {
            color: #fff !important;
        }

        .bb-solid-1 li a:hover {
            color: #000000 !important;
        }    
        .social.social-three a {
            background-color: #fff;
        }
        .footer-two ul li a:hover {
            color: #000000 !important;
        }
    </style> 
    <!-- JQuery Core
    =====================================-->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/bootstrap-3.3.7.min.js"></script>
    
    <!-- Magnific Popup
    =====================================-->
    <script src="static/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/js/magnific-popup/magnific-popup-zoom-gallery.js"></script>
    
    <!-- Progress Bars
    =====================================-->
    <script src="static/js/progress-bar/bootstrap-progressbar.js"></script>
    <script src="static/js/progress-bar/bootstrap-progressbar-main.js"></script>
    
    <!-- JQuery Main
    =====================================-->
    <script src="static/js/main/jquery.appear.js"></script>
    <script src="static/js/main/isotope.pkgd.min.js"></script>
    <script src="static/js/main/parallax.min.js"></script>
    <script src="static/js/main/jquery.countTo.js"></script>
    <script src="static/js/main/owl.carousel.min.js"></script>
    <script src="static/js/main/jquery.sticky.js"></script>
    <script src="static/js/main/ion.rangeSlider.min.js"></script>
    <script src="static/js/main/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/main/main.js"></script>


</body></html>