<html lang="en"><head>
    <title>HelperHub | Dashboard</title>        
    <meta name="description" content="">
<meta name="keywords" content="">
<meta charset="utf-8">
<meta name="author" content="Harry Boo">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Favicons -->
<link rel="shortcut icon" href="assets/img/favicon.png">
<!--<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">-->

<!-- Load Core CSS 
=====================================-->
 {% comment %} <link rel="stylesheet" href="assets/css/core/bootstrap-3.3.7.min.css"> {% endcomment %}
<link rel="stylesheet" href="assets/css/core/animate.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!-- Load Main CSS 
=====================================-->
<link rel="stylesheet" href="assets/css/main/main.css">
<link rel="stylesheet" href="assets/css/main/setting.css">
<link rel="stylesheet" href="assets/css/main/hover.css">
<link rel="stylesheet" href="assets/css/main/cover.css">
<link rel="stylesheet" href="assets/css/main/dashboard.css">
<!-- Load Magnific Popup CSS 
=====================================-->
<link rel="stylesheet" href="assets/css/magnific/magic.min.css">        
<link rel="stylesheet" href="assets/css/magnific/magnific-popup.css">              
<link rel="stylesheet" href="assets/css/magnific/magnific-popup-zoom-gallery.css">


<link rel="stylesheet" href="assets/css/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="assets/css/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="assets/css/owl-carousel/owl.transitions.css">

<link rel="stylesheet" href="assets/css/color/pasific.css">
<link rel="stylesheet" href="assets/css/icon/font-awesome.css">
<link rel="stylesheet" href="assets/css/icon/et-line-font.css">
<link rel="stylesheet" href="custom-file.css">
<link rel="stylesheet" href="../icomoon/style.css">
<link rel="stylesheet" href="icomoon/style.css">
<style>
.icon-salary-advices {
    font-family: 'icomoon' !important;
}
.icon-salary-advices::before {
    content: "\e900" !important;
    font-size: 30px;
}
.icon-references::before {
    content: "\e903" !important;
    font-size: 30px;
}
.icon-statements::before {
    content: "\e901" !important;
    font-size: 30px;
}        
.icon-notices::before {
    content: "\e902" !important;
    font-size: 30px;                
}
.icon-documents::before {
    content: "\e904" !important;
    font-size: 30px;                
}
.icon-communications::before {
    content: "\e905" !important;
    font-size: 30px;                
}
.fa-warning, .fa-remove {
    font-size: 30px;
}
textarea.form-control { 
    min-height: 120px !important;
}
.fa-user-times, .fa-building, .fa-user, .fa-group {
    font-size: 30px;
}    
</style>
    <link rel="stylesheet" href="assets/css/icon/font-awesome.css">
    <link rel="stylesheet" href="assets/css/icon/et-line-font.css">
    <style>
        .icon-list, .icon-list li {
            color: #333 !important;
            font-family: 'Open Sans', sans-serif;
        }
        .fa {
            color: #43c3ed !important;
        }
        .blue-bg {
            background-image: url("assets/img/blue-bg.jpg") !important;
        }
        .home-row {
            /*position: relative;*/
            margin-top: 50px;
        }
    </style>
</head>
<body id="topPage" data-spy="scroll" data-target="" data-offset="100">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    

    <!-- Navigation Area
    ===================================== -->
    <nav class="navbar fixed-top bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img class="logo" src="assets\img\logo\logo.png" alt="Bootstrap" width="30" height="24">

          </a>
        </div>
        <div class="">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="get-in-touch.html">Get In Touch</a></li>

        <li class="#"><a href="tel:+91745 7902290" class="color-light"><i style="color: #000000" class="fa  fa-mobile-phone"></i> <strong>+91 74579 02290</strong></a>
</li>
        </ul>
    </div>
      </nav>

<!-- Header -->

<br><br><br><br>
<div class="dashboard-coulumn">
<div class="container text-center">
    <div class="row">
      <div class="col order-last">

        <h1 class="text-h1">Home services at your <br> doorstep</h1>
        

      </div>
      <div class="col">
        
        <img src="assets\img\other\images (7).jpeg" alt="">


      </div>
      
    </div>
  </div>
</div>


<div class="services-card">
    <div class="card-group">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

</div>



<!-- Footer Area
    =====================================-->
    <div id="footer" class="footer-two bg-dark3 pt50">
        <div class="container-fluid">
            <div class="container pb35">
                <div class="row">
                    
                    <!-- footer about start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Menu</h6>
                        <ul class="no-icon-list">
                            <li><a href="index.html" class="color-light alpha7">Home</a></li>
                            <li><a href="about.html" class="color-light alpha7">About Us</a></li>
                            <li><a href="get-in-touch.html" class="color-light alpha7">Get In Touch</a></li>
                        </ul>
                    </div>
                    <!-- footer about end -->
                    
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Legal and Policy</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-PAIA-Policy.pdf" class="color-light alpha7">PAIA Manual</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Conflict-of-Interest-Policy.pdf" class="color-light alpha7">COI Policy</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Terms-and-Conditions.pdf" class="color-light alpha7">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    
                    <!-- footer menu one start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Pricing</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Fee-Disclosure-Document.pdf" class="color-light alpha7">Our Fees</a></li>
                            <!--<li><a href="#" class="color-light alpha7">Payments</a></li>-->
                        </ul>
                    </div>
                    <!-- footer menu one end -->
                    
                    <!-- footer menu two start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">How To</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/Helperhub-How-to-Register.pdf" class="color-light alpha7">Registration Guide</a></li>
                            <li><a target="_blank" href="pdf-docs/How-to-Enroll-Your-Employee.pdf" class="color-light alpha7">Load Employee</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-Domestic-Households.pdf" class="color-light alpha7">Domestic Households Aid</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-SMME.pdf" class="color-light alpha7">SMME Aid</a></li>
                        </ul>
                    </div>
                    <!-- footer menu two end -->
                    
                    <!-- footer menu three start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Important Info</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Important-Information.pdf" class="color-light alpha7">Important Information</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Specimen-Mandate.pdf" class="color-light alpha7">FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Non-FAIS-Discretionary-Mandate.pdf" class="color-light alpha7">Non-FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-FAQs.pdf" class="color-light alpha7">FAQs</a></li>
                        </ul>
                    </div>
                    <!-- footer menu three end -->
                    
                    <!-- footer social icons start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Articles</h6>
                        <ul class="no-icon-list" style="margin-bottom: 20px">
                            <li><a target="_blank" href="pdf-docs/Covid-19-Uncovered.pdf" class="color-light alpha7">Covid 19 Uncovered</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Article-Covid-19-Exposed.pdf" class="color-light alpha7">Covid 19 Exposed</a></li>
                        </ul>
                        
                        <div class="social social-three">
                            <a target="_blank" href="https://www.facebook.com/helperhubSA"><i class="fa fa-facebook color-primary"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/organization-guest/company/helperhub?challengeId=AQEFUPnGSwVWPwAAAXTZc3Btvl2rY_l7mdlt_jrhEAfyWGi2RcC4j5rdWirEYKu3nYdrnO_k8rQ0jwxXPRIx9QrZS7OMLbk63w&amp;submissionId=23ab55a3-093b-3916-121b-1078acf7b703"><i class="fa fa-linkedin color-blue"></i></a><br><br>
                        </div>
                    </div>
                    <!-- footer social icons end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
        
        <div class="container-fluid bg-dark4 pt20">
            <div class="container">
                <div class="row">

                    <!-- copyright start -->
                    <div class="col-md-4">
                        <p style="color: #fff">©2019 <a href="/">helperhub</a>. All rights reserved.</p>
                    </div>
                    <!-- copyright end -->
                    <div class="col-md-4">
                        <p style="color: #fff">HelperHub</strong> is an authorised financial services provider.</p>
                    </div>

                    <!-- footer bottom start -->
                    <div class="col-md-4">
                        <p class="text-right">
                            <a style="color: #fff !important" target="_blank" href="https://www.theformula.co.za">Designed &amp; Developed by The Formula</a>
                        </p>
                    </div>
                    <!-- footer bottom end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
    </div><!-- footer end -->
    
   <style>
        .bb-solid-1 li a {
            color: #fff !important;
        }

        .bb-solid-1 li a:hover {
            color: #000000 !important;
        }    
        .social.social-three a {
            background-color: #fff;
        }
        .footer-two ul li a:hover {
            color: #000000 !important;
            
        }
    </style> 
    <!-- JQuery Core
    =====================================-->
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/bootstrap-3.3.7.min.js"></script>
    
    <!-- Magnific Popup
    =====================================-->
    <script src="assets/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/magnific-popup/magnific-popup-zoom-gallery.js"></script>
    
    <!-- Progress Bars
    =====================================-->
    <script src="assets/js/progress-bar/bootstrap-progressbar.js"></script>
    <script src="assets/js/progress-bar/bootstrap-progressbar-main.js"></script>
    
    <!-- JQuery Main
    =====================================-->
    <script src="assets/js/main/jquery.appear.js"></script>
    <script src="assets/js/main/isotope.pkgd.min.js"></script>
    <script src="assets/js/main/parallax.min.js"></script>
    <script src="assets/js/main/jquery.countTo.js"></script>
    <script src="assets/js/main/owl.carousel.min.js"></script>
    <script src="assets/js/main/jquery.sticky.js"></script>
    <script src="assets/js/main/ion.rangeSlider.min.js"></script>
    <script src="assets/js/main/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/main/main.js"></script>

</head>
</html>