<html lang="en"><head>
    <title>helperhub |  Get In Touch</title>        
    <meta name="description" content="">
<meta name="keywords" content="">
<meta charset="utf-8">
<meta name="author" content="Harry Boo">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Favicons -->
<link rel="shortcut icon" href="static/img/favicon.png">
<!--<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">-->

<!-- Load Core CSS 
=====================================-->
<link rel="stylesheet" href="static/css/core/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="static/css/core/animate.min.css">

<!-- Load Main CSS 
=====================================-->
<link rel="stylesheet" href="static/css/main/main.css">
<link rel="stylesheet" href="static/css/main/setting.css">
<link rel="stylesheet" href="static/css/main/hover.css">
<link rel="stylesheet" href="static/css/main/cover.css">

<!-- Load Magnific Popup CSS 
=====================================-->
<link rel="stylesheet" href="static/css/magnific/magic.min.css">        
<link rel="stylesheet" href="static/css/magnific/magnific-popup.css">              
<link rel="stylesheet" href="static/css/magnific/magnific-popup-zoom-gallery.css">

<!-- Load OWL Carousel CSS 
=====================================-->
<link rel="stylesheet" href="static/css/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="static/css/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="static/css/owl-carousel/owl.transitions.css">

<!-- Load Color CSS - Please uncomment to apply the color.
=====================================      
<link rel="stylesheet" href="static/css/color/blue.css">
<link rel="stylesheet" href="static/css/color/brown.css">
<link rel="stylesheet" href="static/css/color/cyan.css">
<link rel="stylesheet" href="static/css/color/dark.css">
<link rel="stylesheet" href="static/css/color/green.css">
<link rel="stylesheet" href="static/css/color/orange.css">
<link rel="stylesheet" href="static/css/color/purple.css">
<link rel="stylesheet" href="static/css/color/pink.css">
<link rel="stylesheet" href="static/css/color/red.css">
<link rel="stylesheet" href="static/css/color/yellow.css">-->
<link rel="stylesheet" href="static/css/color/pasific.css">

<!-- Load Fontbase Icons - Please Uncomment to use linea icons
=====================================       
<link rel="stylesheet" href="static/css/icon/linea-arrows-10.css">
<link rel="stylesheet" href="static/css/icon/linea-basic-10.css">
<link rel="stylesheet" href="static/css/icon/linea-basic-elaboration-10.css">
<link rel="stylesheet" href="static/css/icon/linea-ecommerce-10.css">
<link rel="stylesheet" href="static/css/icon/linea-music-10.css">
<link rel="stylesheet" href="static/css/icon/linea-software-10.css">
<link rel="stylesheet" href="static/css/icon/linea-weather-10.css">--> 
<link rel="stylesheet" href="static/css/icon/font-awesome.css">
<link rel="stylesheet" href="static/css/icon/et-line-font.css">
<link rel="stylesheet" href="custom-file.css">
<link rel="stylesheet" href="../icomoon/style.css">
<link rel="stylesheet" href="icomoon/style.css">
<style>
.icon-salary-advices {
    font-family: 'icomoon' !important;
}
.icon-salary-advices::before {
    content: "\e900" !important;
    font-size: 30px;
}
.icon-references::before {
    content: "\e903" !important;
    font-size: 30px;
}
.icon-statements::before {
    content: "\e901" !important;
    font-size: 30px;
}        
.icon-notices::before {
    content: "\e902" !important;
    font-size: 30px;                
}
.icon-documents::before {
    content: "\e904" !important;
    font-size: 30px;                
}
.icon-communications::before {
    content: "\e905" !important;
    font-size: 30px;                
}
.fa-warning, .fa-remove {
    font-size: 30px;
}
textarea.form-control { 
    min-height: 120px !important;
}
.fa-user-times, .fa-building, .fa-user, .fa-group {
    font-size: 30px;
}    
</style>
<!-- Load JS
HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
WARNING: Respond.js doesn't work if you view the page via file://
=====================================-->

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" href="static/css/icon/font-awesome.css">
    <link rel="stylesheet" href="static/css/icon/et-line-font.css">
    <style>
        .iconx2 {
            text-align: center;
        }
        .iconx2 .fa {
            font-size: 30px;
            color: #01b7e7;
        }
    </style>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/56/8/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/56/8/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/56/8/map.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/56/8/marker.js"></script></head>
<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100"><div class="parallax-mirror" style="visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden;"><img class="parallax-slider" src="img/bg/3-2.jpg"></div>
    
    <!-- Page Loader
    ===================================== -->
    <div id="pageloader" class="bg-grad-animation-1" style="display: none;">
        <div class="loader-item" style="display: none;">
            <img src="static/img/other/oval.svg" alt="page loader">
        </div>
    </div>
    
    <a href="#page-top" class="go-to-top" style="display: none;">
        <i class="fa fa-long-arrow-up"></i>
    </a>
    
    <!-- Navigation Area
    ===================================== -->
    <nav class="navbar navbar-pasific navbar-mp navbar-standart megamenu navbar-fixed-top top-nav-collapse">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/">
            <img style="width: 200px" src="static/img/logo/logo.png" alt="logo">
        </a>
    </div>

    <div class="navbar-collapse collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
            <li class=""><a href="/" class="color-light">Home </a>
            </li><li class=""><a href="/about" class="color-light">About </a>
            </li><li class=""><a href="/get-in-touch" class="color-light">Get In Touch </a>
                             
             
            
              
              
                            </li><li class="#"><a href="tel:+917457902290" class="color-light"><i style="color: #1EB584" class="fa  fa-mobile-phone"></i> <strong>+91 74579 02290</strong></a>
                <!--<a href="tel:+1-303-499-7111">+1 (303) 499-7111</a>-->

        </li></ul>
    </div>
</div>
</nav>        
    
    <!-- Search Modal Dialog Box
    ===================================== -->
    <div id="searchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-gray">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                </div>
                <div class="modal-body">                        
                    <form action="#" class="inline-form">
                        <input type="text" class="modal-search-input" autofocus="">
                    </form>
                </div>
                <div class="modal-footer bg-gray">
                    <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                </div>
            </div>

        </div>
    </div>        
    
            <!-- Subheader Area
    ===================================== -->
    <header class="bg-primary mt70">
        <div class="container">
            <div class="row mt20 mb30 ml10">
                <div class="col-md-6 text-left">
                    <h3 class="font-montserrat color-light text-uppercase">Get In Touch With Us</h3>
                </div>
                <div class="col-md-6 text-right pt35">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>Get In Touch</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Contact Us Area
    =====================================-->
    <div id="contact" class="pt50 pb100">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="row">

                        <!-- title start -->
                        <div class="col-md-12 mb50">
                            <h1 class="font-size-normal color-black">
                                <small class="color-blue">Contact Us</small>
                                Drop Us a Message
                            </h1> 
                            <h5 class="color-dark">Please feel free to contact us through any channel on this page and we will respond.</h5>
                        </div>
                        <!-- title end -->

                        <!-- contact info start -->
                        <div class="col-md-4 col-sm-3 col-xs-6 iconx2">
                            <i class="fa fa-phone"></i>
                            <h5 class="color-black"><strong>Phone</strong></h5>
                            <p class="color-black">(+91) 74579 02290</p><br>
                        </div>

                        <div class="col-md-4 col-sm-3 col-xs-6 iconx2">
                            <i class="fa fa-envelope-o"></i>
                            <h5 class="color-black"><strong>Information</strong></h5>
                            <p class="color-black">info@helperhub.co.za</p><br>
                        </div>

                         <!-- second row    -->
                        <div class="col-md-4 col-sm-3 col-xs-12 iconx2">
                            <i class="fa  fa-envelope-o"></i>
                            <h5 class="color-black"><strong>Fraud</strong></h5>
                            <p class="color-black">fraud@helperhub.co.za</p>
                            <br>
                        </div>

                        <div class="col-md-4 col-sm-3 col-xs-6 iconx2">
                            <i class="fa fa-envelope-o"></i>
                            <h5 class="color-black"><strong>Complaints</strong></h5>
                            <p class="color-black">complaints@helperhub.co.za</p>
                        </div>

                        <div class="col-md-4 col-sm-3 col-xs-6 iconx2">
                            <i class="fa  fa-envelope-o"></i>
                            <h5 class="color-black"><strong>Popi Email</strong></h5>
                            <p class="color-black">popi@helperhub.co.za</p>
                            <br>
                        </div>
                         <div class="col-md-3 col-sm-3 col-xs-12 iconx2">
                             <i class="fa  fa-map-o"></i>
                             <h5 class="color-black"><strong>Address</strong></h5>
                             <p class="color-black">PO Box 36483 Glosderry 7702.</p>
                         </div>
                        

                    </div><!-- row left end -->
                </div><!-- col left end -->

                <div class="col-md-6">
                    <div class="contact contact-us-two border-primary">
                        <div class="col-sm-12 col-xs-12 text-center mb20">
                            <h4 class="pb25 bb-solid-1 text-uppercase">
                                Get in Touch
                                <small class="text-lowercase">Please complete the form and we will get back to you.</small>
                            </h4>
                                                        </div>
                        <form name="contactform1" id="contactForm1" method="post" action="process-form.html">

                            <!-- fullname start -->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="full_name" id="senderName" class="input-md input-rounded form-control" placeholder="Fullname" maxlength="100" required="">
                            </div>
                            <!-- fullname end -->

                            <!-- email start -->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="email" name="email_address" id="senderEmail" class="input-md input-rounded form-control" placeholder="Email Address" maxlength="100" required="">
                            </div>
                             <!-- email end -->

                            <!-- website start -->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="contact_number" id="senderWebsite" class="input-md input-rounded form-control" placeholder="Mobile Number" maxlength="100">
                            </div>
                            <!-- website end -->

                            <!-- security start -->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="senderHuman" id="senderHuman" class="input-md input-rounded form-control" placeholder="5 + 3 = ?" required="">
                                <input type="hidden" name="checkHuman_a" id="checkHuman_a" value="5">
                                <input type="hidden" name="checkHuman_b" id="checkHuman_b" value="3">
                            </div>
                              <!-- security end -->

                            <!-- textarea start -->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <textarea class="form-control" name="message" id="message" rows="7" required="" placeholder="Message"></textarea>
                            </div>
                            <!-- textarea end -->

                            <!-- button start -->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" name="submit" value="submit" id="sendMessage" class="button button-md button-block button-grad-stellar">Send Message</button>
                            </div>
                            <!-- button end -->

                        </form>
                    </div><!-- div contact end -->
                </div><!-- col end -->

            </div><!-- row end -->
        </div><!-- container end -->
    </div>


    <!-- Google Map Area
    ===================================== -->
    <div style="display: none !important" id="googleMap" class="pt100 parallax-window-2" data-parallax="scroll" data-speed="0.5" data-image-src="img/bg/3-2.jpg"><div style="height: 100%; width: 100%;"><div style="overflow: hidden;"></div></div></div>  



    <!-- Footer Area
    =====================================-->
    <div id="footer" class="footer-two bg-dark3 pt50">
        <div class="container-fluid">
            <div class="container pb35">
                <div class="row">
                    
                    <!-- footer about start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Menu</h6>
                        <ul class="no-icon-list">
                            <li><a href="/" class="color-light alpha7">Home</a></li>
                            <li><a href="/about" class="color-light alpha7">About Us</a></li>
                            <li><a href="/get-in-touch" class="color-light alpha7">Get In Touch</a></li>
                        </ul>
                    </div>
                    <!-- footer about end -->
                    
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Legal and Policy</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-PAIA-Policy.pdf" class="color-light alpha7">PAIA Manual</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Conflict-of-Interest-Policy.pdf" class="color-light alpha7">COI Policy</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Terms-and-Conditions.pdf" class="color-light alpha7">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    
                    <!-- footer menu one start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Pricing</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Fee-Disclosure-Document.pdf" class="color-light alpha7">Our Fees</a></li>
                            <!--<li><a href="#" class="color-light alpha7">Payments</a></li>-->
                        </ul>
                    </div>
                    <!-- footer menu one end -->
                    
                    <!-- footer menu two start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">How To</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/Helperhub-How-to-Register.pdf" class="color-light alpha7">Registration Guide</a></li>
                            <li><a target="_blank" href="pdf-docs/How-to-Enroll-Your-Employee.pdf" class="color-light alpha7">Load Employee</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-Domestic-Households.pdf" class="color-light alpha7">Domestic Households Aid</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-SMME.pdf" class="color-light alpha7">SMME Aid</a></li>
                        </ul>
                    </div>
                    <!-- footer menu two end -->
                    
                    <!-- footer menu three start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Important Info</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Important-Information.pdf" class="color-light alpha7">Important Information</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Specimen-Mandate.pdf" class="color-light alpha7">FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Non-FAIS-Discretionary-Mandate.pdf" class="color-light alpha7">Non-FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-FAQs.pdf" class="color-light alpha7">FAQs</a></li>
                        </ul>
                    </div>
                    <!-- footer menu three end -->
                    
                    <!-- footer social icons start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Articles</h6>
                        <ul class="no-icon-list" style="margin-bottom: 20px">
                            <li><a target="_blank" href="pdf-docs/Covid-19-Uncovered.pdf" class="color-light alpha7">Covid 19 Uncovered</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Article-Covid-19-Exposed.pdf" class="color-light alpha7">Covid 19 Exposed</a></li>
                        </ul>
                        
                        <div class="social social-three">
                            <a target="_blank" href="https://www.facebook.com/helperhubSA"><i class="fa fa-facebook color-primary"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/organization-guest/company/helperhub?challengeId=AQEFUPnGSwVWPwAAAXTZc3Btvl2rY_l7mdlt_jrhEAfyWGi2RcC4j5rdWirEYKu3nYdrnO_k8rQ0jwxXPRIx9QrZS7OMLbk63w&amp;submissionId=23ab55a3-093b-3916-121b-1078acf7b703"><i class="fa fa-linkedin color-blue"></i></a><br><br>
                        </div>
                    </div>
                    <!-- footer social icons end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
        
        <div class="container-fluid bg-dark4 pt20">
            <div class="container">
                <div class="row">

                    <!-- copyright start -->
                    <div class="col-md-4">
                        <p style="color: #fff">©2019 <a href="/">helperhub</a>. All rights reserved.</p>
                    </div>
                    <!-- copyright end -->
                    <div class="col-md-4">
                        <p style="color: #fff">helper<strong>hub</strong> is an authorised financial services provider.</p>
                    </div>

                    <!-- footer bottom start -->
                    <div class="col-md-4">
                        <p class="text-right">
                            <a style="color: #fff !important" target="_blank" href="https://www.theformula.co.za">Designed &amp; Developed by The Formula</a>
                        </p>
                    </div>
                    <!-- footer bottom end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
    </div><!-- footer end -->

<style>
.bb-solid-1 li a {
    color: #fff !important;
}

.bb-solid-1 li a:hover {
    color: #000000 !important;
}    
.social.social-three a {
    background-color: #fff;
}
.footer-two ul li a:hover {
    color: #000000 !important;
}
</style>
    <!-- JQuery Core
    =====================================-->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/bootstrap-3.3.7.min.js"></script>

    <!-- JQuery Main
    =====================================-->
    <script src="static/js/main/jquery.appear.js"></script>
    <script src="static/js/main/isotope.pkgd.min.js"></script>
    <script src="static/js/main/parallax.min.js"></script>
    <script src="static/js/main/jquery.countTo.js"></script>
    <script src="static/js/main/owl.carousel.min.js"></script>
    <script src="static/js/main/jquery.sticky.js"></script>
    <script src="static/js/main/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/main/main.js"></script>

    <!-- Google Map
    =====================================-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBaAMXXj9LXB8YlUmdfYzlAwepg8jxkpU"></script>
    <script src="static/js/main/googlemap-color.js"></script>


</body></html>