<html lang="en"><head>
    <title>HelperHub | Login</title>        
    <meta name="description" content="">
<meta name="keywords" content="">
<meta charset="utf-8">
<meta name="author" content="Harry Boo">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Favicons -->
<link rel="shortcut icon" href="static/img/favicon.png">
<!--<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">-->

<!-- Load Core CSS 
=====================================-->
<link rel="stylesheet" href="static/css/core/bootstrap-3.3.7.min.css">
<link rel="stylesheet" href="static/css/core/animate.min.css">

<!-- Load Main CSS 
=====================================-->
<link rel="stylesheet" href="static/css/main/main.css">
<link rel="stylesheet" href="static/css/main/setting.css">
<link rel="stylesheet" href="static/css/main/hover.css">
<link rel="stylesheet" href="static/css/main/cover.css">

<!-- Load Magnific Popup CSS 
=====================================-->
<link rel="stylesheet" href="static/css/magnific/magic.min.css">        
<link rel="stylesheet" href="static/css/magnific/magnific-popup.css">              
<link rel="stylesheet" href="static/css/magnific/magnific-popup-zoom-gallery.css">


<link rel="stylesheet" href="static/css/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="static/css/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="static/css/owl-carousel/owl.transitions.css">

<link rel="stylesheet" href="static/css/color/pasific.css">
<link rel="stylesheet" href="static/css/icon/font-awesome.css">
<link rel="stylesheet" href="static/css/icon/et-line-font.css">
<link rel="stylesheet" href="custom-file.css">
<link rel="stylesheet" href="../icomoon/style.css">
<link rel="stylesheet" href="icomoon/style.css">
<style>
.icon-salary-advices {
    font-family: 'icomoon' !important;
}
.icon-salary-advices::before {
    content: "\e900" !important;
    font-size: 30px;
}
.icon-references::before {
    content: "\e903" !important;
    font-size: 30px;
}
.icon-statements::before {
    content: "\e901" !important;
    font-size: 30px;
}        
.icon-notices::before {
    content: "\e902" !important;
    font-size: 30px;                
}
.icon-documents::before {
    content: "\e904" !important;
    font-size: 30px;                
}
.icon-communications::before {
    content: "\e905" !important;
    font-size: 30px;                
}
.fa-warning, .fa-remove {
    font-size: 30px;
}
textarea.form-control { 
    min-height: 120px !important;
}
.fa-user-times, .fa-building, .fa-user, .fa-group {
    font-size: 30px;
}    
</style>
    <link rel="stylesheet" href="static/css/icon/font-awesome.css">
    <link rel="stylesheet" href="static/css/icon/et-line-font.css">
    <style>
        .icon-list, .icon-list li {
            color: #333 !important;
            font-family: 'Open Sans', sans-serif;
        }
        .fa {
            color: #43c3ed !important;
        }
        .blue-bg {
            background-image: url("static/img/blue-bg.jpg") !important;
        }
        .home-row {
            /*position: relative;*/
            margin-top: 50px;
        }
    </style>
</head>
<body id="topPage" data-spy="scroll" data-target=".navbar" data-offset="100">


    <!-- Page Loader
    ===================================== -->
    <div id="pageloader" class="bg-grad-animation-1" style="display: none;">
        <div class="loader-item" style="display: none;">
            <img src="static\img\other\oval.svg" alt="page loader">
        </div>
    </div>

    <a href="#page-top" class="go-to-top" style="display: none;">
        <i class="fa fa-long-arrow-up"></i>
    </a>


    <!-- Navigation Area
    ===================================== -->
    <nav class="navbar navbar-pasific navbar-mp navbar-standart megamenu navbar-fixed-top top-nav-collapse">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/">
            <img style="width: 200px" src="static/img/logo/logo.png" alt="logo">
        </a>
    </div>

    <div class="navbar-collapse collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
            <li class=""><a href="/" class="color-light">Home </a>
            </li><li class=""><a href="/about" class="color-light">About </a>
            </li><li class=""><a href="/get-in-touch" class="color-light">Get In Touch </a>
                             
             
            
              
              
            </li><li class="#"><a href="tel:+91745 7902290" class="color-light"><i style="color: #1EB584" class="fa  fa-mobile-phone"></i> <strong>+91 74579 02290</strong></a>


        </li></ul>
    </div>
</div>
</nav>
    <div class="inner cover animated fadeIn visible" data-animation="fadeIn" data-animation-delay="100">
        <br>
        <div id="formLogin" class="row home-row">
            <div class="col-md-12">
                <h2 class="color-light text-center mt50">From cleaning and repairs to beauty care,<br> Helper Hub connects you with top-rated local pros. <br> Get things done, stress-free!  - <strong>all in one user-friendly platform.</strong></h2><br><br>
            </div>
            <div class="col-md-4 text-center">                    
                
            </div>            
            <div class="col-md-2 text-center home-icon mb20">                    
                <div class="home-box">
                    <a href="/register"><img src="static/img/icons/register-icon.png"></a>
                    <p>Register</p>
                </div>
            </div>
            <div class="col-md-2 text-center home-icon mb20">                    
                <div class="home-box">
                    <a href="/login"><img src="static\img\icons\login-icon.png"></a>
                    <p>Login</p>
                </div>
            </div>                
            <div class="col-md-3 text-center">                    

            </div>
            
                          
        </div>
        
       
        <!--MOBILE TOP-->
        <div id="mobile-section" class="row mobile-home">
            <div class="col-md-12">
                <h2 class="color-light text-center mt50">The simplest way to manage your HR, payroll, payments and <br>optional employee benefits - <strong>all  allowing you to book and pay for services through a secure,</strong></h2><br><br>
            </div>
            <div class="col-md-12 text-center mt20">
                <a href="demo-video.html"><img style="width: 65px" src="static\mg\play-btn.png"> <span style="font-size: 25px" class="title-play color-light text-center mt50">Watch <strong>demo video</strong></span></a>
            </div>
        </div>
        
        <div id="mobile-section" class="row mobile-login mt40">
            <div class="col-md-4 text-center">                    
                
            </div>               
            <div class="col-md-2 text-center home-icon mb20">                    
                <div class="home-box">
                    <a href="/register"><img src="static/img/icons/register-icon.png"></a>
                    <p>Register</p>
                </div>
            </div>
            <div class="col-md-2 text-center home-icon mb20">                    
                <div class="home-box">
                    <a href="/login"><img src="static/img/icons/login-icon.png"></a>
                    <p>Login</p>
                </div>
            </div>                
            <div class="col-md-3 text-center">                    

            </div>
        </div>
        
        <!--END MOBILE TOP-->
        
        <div class="row mb40">
            <div class="col-md-12">
                <h2 class="text-center mt50">Every household and small business <br><strong>needs a helping hand</strong></h2><br><br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5"> 
                <ul class="icon-list">
                    <li><i class="fa fa-check"></i>Enhance your employee and client relationships</li>
                    <li><i class="fa fa-check"></i>Automated payroll, salary payments, PAYE and UIF filings</li>
                    <li><i class="fa fa-check"></i>Sign up for optional employee benefits / financial products</li> 
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="icon-list">
                    <li><i class="fa fa-check"></i>Manage and record all employee communications</li>
                    <li><i class="fa fa-check"></i>Multiple employee relationship collaboration capability</li>
                    <li><i class="fa fa-check"></i>Convenient invoicing and payments</li> 
                </ul>
            </div>   
            <div class="col-md-1"></div>
        </div>   
        
        <div class="row mb40 blue-bg text-center pb50">
            <div class="col-md-12">
                <h2 class="text-center mt50">Join helper<strong>hub</strong> from only</h2>
                <h2 class="text-center" style="color: #43c3ed"><strong>₹99.00 per month*</strong></h2><br>
                <a class="text-center mb50" target="_blank" href="pdf-docs/helperhub-Fee-Disclosure-Document.pdf">View fees </a>
            </div>
        </div>             
        
        <div class="row mb40">
            <div class="col-md-12">
                <h2 class="text-center mt50">Manage Your <strong>Employment</strong> <br> <strong>&amp; Service Relationships with Ease</strong></h2><br><br>
            </div>
            
            <div class="col-md-4 text-center img-3-col"> 
                <img class="mt15" src="static/img/logo/who-we-are.png">
                <h4>Who We Are</h4>
                <div class="text">                        
                    helper<span style="font-weight: 700">hub</span> was created by Manshon <br>(Pty) Ltd, a private company that was <br>established with the ultimate objective of <br>uplifting the South African Economy.
                </div>
            </div>
            <div class="col-md-4 text-center img-3-col">
                <img class="mt15" src="static/img/logo/what-we-do.png">
                <h4>What We do</h4>
                <div class="text">
                    helper<span style="font-weight: 700">hub</span>  is an innovative solution<br> that enables and enriches employment <br>and service relationships through the<br>      provision of services and products.
                </div>
            </div>
            <div class="col-md-4 text-center img-3-col">   
                <img class="mt15" src="static/img/logo/why-choose-us.png">
                <h4>Why Choose Us</h4>
                <div class="text">
                    helper<span style="font-weight: 700">hub</span> provides a one-stop<br> employee benefits solution for domestic <br>households, SMMEs and even large <br>corporate organisations. We handle it all.
                </div>
            </div>                
        </div>
        
        <div class="row mb40">
            <div class="col-md-12">
                <h2 class="text-center mt50">Become <strong>a part of the solution today</strong></h2><br><br>
            </div>
            <div class="col-md-4 text-center">                    
                
            </div>                
            <div class="col-md-2 text-center home-icon mb20">                    
                <div class="home-box">
                    <a href="/register"><img src="static/img/icons/register-icon.png"></a>
                    <p>Register</p>
                </div>
            </div>
            <div class="col-md-2 text-center home-icon mb20">                    
                <div class="home-box">
                    <a href="/login"><img src="static/img/icons/login-icon.png"></a>
                    <p>Login</p>
                </div>
            </div>                
            <div class="col-md-3 text-center">                    

            </div>
        </div>            
    </div>

    <!-- Footer Banner
    ===================================== -->
    <!-- <div id="footer-banner" class="bg-dark2 pt50 pb50">
        <div class="container">
            <div class="row">   
            </div>
            <img src="static\img\bg\footer-banner.png" alt="">

        </div>
    </div>         -->


    <!-- Footer Area
    =====================================-->
    <div id="footer" class="footer-two bg-dark3 pt50">
        <div class="container-fluid">
            <div class="container pb35">
                <div class="row">
                    
                    <!-- footer about start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Menu</h6>
                        <ul class="no-icon-list">
                            <li><a href="/" class="color-light alpha7">Home</a></li>
                            <li><a href="/about" class="color-light alpha7">About Us</a></li>
                            <li><a href="/get-in-touch" class="color-light alpha7">Get In Touch</a></li>
                        </ul>
                    </div>
                    <!-- footer about end -->
                    
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Legal and Policy</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-PAIA-Policy.pdf" class="color-light alpha7">PAIA Manual</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Conflict-of-Interest-Policy.pdf" class="color-light alpha7">COI Policy</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Terms-and-Conditions.pdf" class="color-light alpha7">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                    
                    <!-- footer menu one start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Pricing</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Fee-Disclosure-Document.pdf" class="color-light alpha7">Our Fees</a></li>
                            <!--<li><a href="#" class="color-light alpha7">Payments</a></li>-->
                        </ul>
                    </div>
                    <!-- footer menu one end -->
                    
                    <!-- footer menu two start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">How To</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/Helperhub-How-to-Register.pdf" class="color-light alpha7">Registration Guide</a></li>
                            <li><a target="_blank" href="pdf-docs/How-to-Enroll-Your-Employee.pdf" class="color-light alpha7">Load Employee</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-Domestic-Households.pdf" class="color-light alpha7">Domestic Households Aid</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Client-Onboarding-Aid-SMME.pdf" class="color-light alpha7">SMME Aid</a></li>
                        </ul>
                    </div>
                    <!-- footer menu two end -->
                    
                    <!-- footer menu three start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Important Info</h6>
                        <ul class="no-icon-list">
                            <li><a target="_blank" href="pdf-docs/helperhub-Important-Information.pdf" class="color-light alpha7">Important Information</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Specimen-Mandate.pdf" class="color-light alpha7">FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Non-FAIS-Discretionary-Mandate.pdf" class="color-light alpha7">Non-FAIS Mandate</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-FAQs.pdf" class="color-light alpha7">FAQs</a></li>
                        </ul>
                    </div>
                    <!-- footer menu three end -->
                    
                    <!-- footer social icons start -->
                    <div class="col-md-2">
                        <h6 class="font-montserrat text-uppercase color-light">Articles</h6>
                        <ul class="no-icon-list" style="margin-bottom: 20px">
                            <li><a target="_blank" href="pdf-docs/Covid-19-Uncovered.pdf" class="color-light alpha7">Covid 19 Uncovered</a></li>
                            <li><a target="_blank" href="pdf-docs/helperhub-Article-Covid-19-Exposed.pdf" class="color-light alpha7">Covid 19 Exposed</a></li>
                        </ul>
                        
                        <div class="social social-three">
                            <a target="_blank" href="https://www.facebook.com/helperhubSA"><i class="fa fa-facebook color-primary"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/organization-guest/company/helperhub?challengeId=AQEFUPnGSwVWPwAAAXTZc3Btvl2rY_l7mdlt_jrhEAfyWGi2RcC4j5rdWirEYKu3nYdrnO_k8rQ0jwxXPRIx9QrZS7OMLbk63w&amp;submissionId=23ab55a3-093b-3916-121b-1078acf7b703"><i class="fa fa-linkedin color-blue"></i></a><br><br>
                        </div>
                    </div>
                    <!-- footer social icons end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
        
        <div class="container-fluid bg-dark3 pt20">
            <div class="container">
                <div class="row">

                    <!-- copyright start -->
                    <div class="col-md-4">
                        <p style="color: #fff">©2019 <a href="/">helperhub</a>. All rights reserved.</p>
                    </div>
                    <!-- copyright end -->
                    <div class="col-md-4">
                        <p style="color: #fff">helper<strong>hub</strong> is an authorised financial services provider.</p>
                    </div>

                    <!-- footer bottom start -->
                    <div class="col-md-4">
                        <p class="text-right">
                            <a style="color: #fff !important" target="_blank" href="https://www.theformula.co.za">Designed &amp; Developed by The Formula</a>
                        </p>
                    </div>
                    <!-- footer bottom end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
    </div><!-- footer end -->
    
   <style>
        .bb-solid-1 li a {
            color: #fff !important;
        }

        .bb-solid-1 li a:hover {
            color: #000000 !important;
        }    
        .social.social-three a {
            background-color: #fff;
        }
        .footer-two ul li a:hover {
            color: #000000 !important;
            
        }
    </style> 
    <!-- JQuery Core
    =====================================-->
    <script src="static/js/core/jquery.min.js"></script>
    <script src="static/js/core/bootstrap-3.3.7.min.js"></script>
    
    <!-- Magnific Popup
    =====================================-->
    <script src="static/js/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="static/js/magnific-popup/magnific-popup-zoom-gallery.js"></script>
    
    <!-- Progress Bars
    =====================================-->
    <script src="static/js/progress-bar/bootstrap-progressbar.js"></script>
    <script src="static/js/progress-bar/bootstrap-progressbar-main.js"></script>
    
    <!-- JQuery Main
    =====================================-->
    <script src="static/js/main/jquery.appear.js"></script>
    <script src="static/js/main/isotope.pkgd.min.js"></script>
    <script src="static/js/main/parallax.min.js"></script>
    <script src="static/js/main/jquery.countTo.js"></script>
    <script src="static/js/main/owl.carousel.min.js"></script>
    <script src="static/js/main/jquery.sticky.js"></script>
    <script src="static/js/main/ion.rangeSlider.min.js"></script>
    <script src="static/js/main/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/main/main.js"></script>


</body></html>